.DS_Store
/basic/lection006/.env
/basic/hw006/.env
/basic/sem006/.env
/basic/hw007/.env
/basic/sem007/.env
/basic/hw008/.env
/basic/sem008/.env
/basic/hw009/.env
/basic/sem009/.env

/basic/hw009

/basic/sem007
/basic/sem008
/basic/sem009