.DS_Store
/basic/lection006/.env
/basic/hw006/.env
/basic/sem006/.env
/basic/hw007/.env
/basic/sem007/.env
/basic/hw008/.env
/basic/sem008/.env
/basic/hw009/.env
/basic/sem009/.env

/laravel/hw005/002
/laravel/hw006/002
/laravel/hw007/002
/laravel/hw008/002
/laravel/hw009/002
/laravel/hw010/002
/laravel/hw011/002
/laravel/hw012/002
/laravel/hw013/002
/laravel/hw014/002