.DS_Store
/basic/lection006/.env
/basic/hw006/.env
/basic/sem006/.env
/basic/hw007/.env
/basic/sem007/.env
/basic/hw008/.env
/basic/sem008/.env
/basic/hw009/.env
/basic/sem009/.env

/laravel/hw005
/laravel/hw006
/laravel/hw007
/laravel/hw008
/laravel/hw009
/laravel/hw010
/laravel/hw011
/laravel/hw012
/laravel/hw013
/laravel/hw014