    <header class="headerBox">
            <nav class="headerBoxInner container">
                <a href="/">Главная</a>
                <a href="/user/edit">Создать пользователя</a>
                <a href="/user">Пользователи</a>
                <a href="/info">О проекте</a>
                <a href="/about">О нас</a>
            </nav>
    </header>